{% extends "base.html" %}
{% block content %}

<h1>Elite Racing Group</h1>

<div class="section-title">Player of the Month</div>

<div class="podium-container">

    <div class="podium-item">
        <div class="podium-rank gold">1st</div>
        <div id="firstPlayer" class="podium-name">-</div>
    </div>

    <div class="podium-item">
        <div class="podium-rank silver">2nd</div>
        <div id="secondPlayer" class="podium-name">-</div>
    </div>

    <div class="podium-item">
        <div class="podium-rank bronze">3rd</div>
        <div id="thirdPlayer" class="podium-name">-</div>
    </div>

</div>

<script src="/static/app.js"></script>
<script>
    loadPodium();
</script>

{% endblock %}
